[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/thedmd/imgui-node-editor
[submodule "third_party/imgui_base"]
	path = third_party/imgui_base
	url = https://github.com/ocornut/imgui
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/imgui-node"]
	path = external/imgui-node
	url = https://github.com/thedmd/imgui-node-editor
